<form action="/api/ingreso_factura" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="picture">Subir apk Ingreso facturas</label>
                     <input type="file" class="form-control-file" name="picture" id="picture">
                      <p id="texto"> </p><br />
                    </div>
                    
                    <button type="submit" class="btn btn-primary" id="guardar">Subir apk Ingreso facturas</button>
</form>
<hr>
<form action="/api/apk_verificador" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="picture">Subir apk verificacion Precio</label>
                     <input type="file" class="form-control-file" name="picture" id="picture">
                      <p id="texto"> </p><br />
                    </div>
                    
                    <button type="submit" class="btn btn-primary" id="guardar2">Subir apk verificacion Precio</button>
</form>
<hr>